html {
  scroll-behavior: smooth;
  height: 100%;
}

::placeholder {
  color: rgb(236, 235, 235);
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.body {
  font-family: "Source Code Pro", "Arial", "Helvetica";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #1f363d;
  background-color: #ebebeb;
  position: relative;
  margin: 0;
}
.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fff;
}
.item {
  width: 90%;
  height: 300px;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  outline: none;
  padding: 0;
  color: #ff6700;
  padding: 15px;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
}

.item:focus {
  border: 1px #ff6700 solid;
  background-color: #c0c0c0;
}

.main-button {
  padding: 0;
  width: 100px;
  height: 35px;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
}

.divider {
  width: 100px;
  height: 35px;
  padding: 0;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.main-button:focus {
  border: 1px #ff6700 solid;
}
.divider:focus {
  border: 1px #ff6700 solid;
}

.main-block {
  align-self: start;
  justify-self: center;
}
