:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #e4e7e2;
  --easy-green: #65e6c5;
  --blue: #118ab2;
  --dark-blue: #073b4c;
  --red: #ef476f;
  --orange: #ffd166;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

::placeholder {
  color: var(--blue);
  font-size: 15px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.body {
  font-family: "Source Code Pro", "Arial", "Helvetica";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  margin: 0;
}
.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  background-color: var(--white);
}
.item {
  width: 90%;
  height: 300px;
  border: 1px var(--blue) solid;
  border-radius: 0 0 0 5px;
  outline: none;
  color: var(--black);
  padding: 15px;
  margin: 0 15px 15px 15px;
  box-sizing: border-box;
  align-self: flex-start;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item__title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  align-self: flex-end;
  justify-self: center;
  color: var(--blue);
}

.item__title-btn {
  padding: 0;
  width: 80px;
  height: 25px;
  border: 1px 1px 0 1px var(--blue) solid;
  background-color: var(--gray);
}

.item__title-btn:hover {
  cursor: pointer;
}

.item:focus {
  border: 1px var(--red) solid;
}

.main-button {
  padding: 0;
  width: 100px;
  height: 35px;
  border: 1px var(--blue) solid;
  border-radius: 5px;
  margin: 15px;
}

.divider {
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 0;
  border: 1px var(--blue) solid;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.main-button:focus {
  border: 1px var(--dark-blue) solid;
}
.divider:focus {
  border: 1px var(--red) solid;
}

.main-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  align-self: start;
  justify-self: center;
}

.main-button:hover {
  background-color: var(--easy-green);
  color: var(--black);
  transition: background-color 0.4s linear;
}

.main-button_clear:hover {
  color: var(--black);
  background-color: var(--red);
}

.main-button_theme:hover {
  color: var(--black);
  background-color: var(--orange);
}

.main-button_info {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main-button_csv {
  width: 100px;
  height: 35px;
  border-radius: 100px;
}

.main_dark {
  background-color: var(--dark-blue);
}

.item_dark {
  background-color: var(--black);
  color: var(--white);
}

.main-button_dark {
  background-color: var(--black);
  color: var(--white);
}

.item__title-btn_active {
  background-color: var(--blue);
  color: var(--white);
}

.item__title-btn_active:hover {
  cursor: auto;
}

.divider_dark {
  background-color: var(--black);
  color: var(--white);
}
